body{
   background-color: #100e19;
}

body,
.card__vote{
    color: #dfd9ce;

}
body.black--style {
    background: #19181c;
}


.binded.focus,
.binded.hover,
.binded.traverse,
.menu__item.focus, 
.menu__item.traverse, 
.menu__item.hover,
.settings-folder.focus,
.settings-param.focus,
.selectbox-item.focus,
.selectbox-item.hover,
.full-person.focus,
.full-start__button.focus,
.full-descr__tag.focus,
.simple-button.focus,
.iptv-list__item.focus,
.iptv-menu__list-item.focus,
.head__action.focus, 
.head__action.hover,
.player-panel .button.focus,
.search-source.active{
    background: -webkit-gradient(linear, left top, right top, color-stop(1%, rgba(191, 0, 33, 1)),to(rgba(219, 16, 53, 1)));
    background: -webkit-linear-gradient(left, rgba(191, 0, 33, 1) 1%,rgba(219, 16, 53, 1) 100%);
    background: -moz-linear-gradient(left, rgba(191, 0, 33, 1) 1%,rgba(219, 16, 53, 1) 100%);
    background: -o-linear-gradient(left, rgba(191, 0, 33, 1) 1%,rgba(219, 16, 53, 1) 100%);
    background: linear-gradient(to right, rgba(191, 0, 33, 1) 1%,rgba(219, 16, 53, 1) 100%);
    color: #ddd;
}

.settings-folder.focus {
  background-color: #ddd;

.settings-folder.focus .settings-folder__icon .settings-folder__name{
/*    -webkit-filter: invert(1);
            filter: invert(1);*/
    -webkit-filter: #ddd;
            filter: #ddd;
            color: #ddd;

    fill: #ddd;
}


/**/
.menu__item.focus .menu__ico path[fill],
.menu__item.focus .menu__ico rect[fill],
.menu__item.focus .menu__ico circle[fill], .menu__item.traverse .menu__ico path[fill],
.menu__item.traverse .menu__ico rect[fill],
.menu__item.traverse .menu__ico circle[fill], .menu__item.hover .menu__ico path[fill],
.menu__item.hover .menu__ico rect[fill],
.menu__item.hover .menu__ico circle[fill] {
  fill: #ddd;
}
.menu__item.focus .menu__ico [stroke], .menu__item.traverse .menu__ico [stroke], .menu__item.hover .menu__ico [stroke] {
  stroke: #ddd;
}
/**/
.settings-param-title > span{
    color: #fff;
}

.settings__content,
.settings-input__content,
.selectbox__content,
.modal__content{
    background: -webkit-linear-gradient(315deg, rgb(40, 28, 48) 1%,rgb(10,8,6) 100%);
    background: -moz-linear-gradient(315deg, rgb(40, 28, 48) 1%,rgb(10,8,6) 100%);
    background: -o-linear-gradient(315deg, rgb(40, 28, 48) 1%,rgb(10,8,6) 100%);
    background: linear-gradient(135deg, rgb(40, 28, 48) 1%,rgb(10,8,6) 100%);
}

.settings-input__links{
    background-color: rgba(255,255,255,0.2);
}

.card.focus .card__view::after, 
.card.hover .card__view::after,
.extensions__item.focus:after,
.torrent-item.focus::after,
.extensions__block-add.focus:after{
    border-color: rgb(254,244,222);
}
.online-prestige.focus::after,
.iptv-channel.focus::before, 
.iptv-channel.last--focus::before{
    border-color: rgb(254,244,222) !important;
}
.time-line > div,
.player-panel__position,
.player-panel__position > div:after{
    background-color: rgb(254,244,222);
}


.extensions{
    background: linear-gradient(90deg, #100e19 0%, #1c1326 46.87%, #100e19 100%);/*фон в плагине*/
}
.extensions__item,
.extensions__block-add{
    background-color: #281c30; /*блоки в плагинах*/
}
.torrent-item__size,
.torrent-item__exe,
.torrent-item__viewed,
.torrent-serial__size{
    background-color: #dfd9ce;
    color: #dfd9ce;
}

.torrent-serial{
    background-color: rgba(40, 28, 48,0.1);
}
.torrent-file.focus,
.torrent-serial.focus{
    background-color: rgba(40, 28, 48,0.36);
}

.iptv-channel{
    background-color: #19181c !important;
}